/* // <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@import url(animacoes.css);

:root {
  --pri-preto-azulado: #0a0f1e;
  --sec-lilas-futurista: #8b5cf6;
  --dest-verde-neon: #06d6a0;
  --neuCl-cinza-claro: #e5e7eb;
  --neuEs-cinza-grafite: #1f2937;
}

* {
  margin: 0;
  color: var(--neuEs-cinza-grafite);
}

body {
    background-color: var(--pri-preto-azulado);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto;
  line-height: 1.6;
  text-align: left;
  background-color: var(--neuCl-cinza-claro);
  border-radius: 8px;
  padding: 1rem;
}

.titulo {
  color: var(--pri-preto-azulado);
  font-family: "Nunito", sans-serif;
}

section h3 {
  color: var(--sec-lilas-futurista);
  font-family: "Nunito", sans-serif;
}

section p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.8;
}

.CTA {
  background-color: var(--sec-lilas-futurista);
  animation: pulse 2s infinite;
  font-family: "Quicksand", sans-serif;
  color: var(--neuCl-cinza-claro);
  font-weight: 500;
}

.CTA:hover {
  background-color: var(--dest-verde-neon);
  color: var(--pri-preto-azulado);
  animation: none;
}

img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

section img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

section img:hover {
  transform: scale(1.05);
}

section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-lista {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: var(--neuCl-cinza-claro);
  font-family: "Quicksand", sans-serif;
  transition: transform 0.3s ease; 
}

.card-lista:hover {
  transform: scale(1.05); 
}

.card-lista ul li {
  color: var(--neuCl-cinza-claro);
  margin-bottom: 0.5rem; 
  font-family: "Quicksand", sans-serif;
}

#card-lista-1 {
  background: linear-gradient(135deg, #0a0f1e, #1f0b52); 
}

#card-lista-2 {
  background: linear-gradient(135deg, #1f2937, #292a2c); 
}

section div h3 {
  margin-bottom: 0.5rem;
}
